/* RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
i {
    cursor: pointer;
}
/*  COMMONS */
#root{
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    background-image:linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    width: 70%;
    height: 95%;
}
/* col */
.col{
    height: 100%;
}
.col-sx{
    width: 37%;
    border-right: 1px solid #d8dbd7;
}
.col-dx{
    width: calc(100% - 37%);
}
/* profile circle */
.circle-profile{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}
/* align items CENTER */
.vertical-center{
    display: flex;
    align-items: center;
}

.vertical-horrizontal-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* user menuù */
.user-menu{
    font-size: 25px;
    color: #b1b1b1;
}
.user-menu i{
    margin-right: 15px;
}

/* END COMMONS */

/* HEADER */
header{
    width: 100%;
    height: 8%;
    min-height: 50px;
    display: flex;
    background-color: #eaeaea;
}
header > .col{
    display: flex;
    align-items: center;
}
/* user profile */
#user-profile, #active-profile{
    flex-grow: 1;
    margin-left: 10px;
}

/* ultimo accesso */
.last-access{
    font-size: 13px;
    color: #b1b1b1;
}
.info-current-profile, .info-user-profile{
    padding: 0 15px;
}
/* END HEADER */

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 8%);
    display: flex;
    background-color: white;
}
/* COL SX */
main > .col-sx{
    display: flex;
    flex-direction: column;
}
/* notifications */
#notification{
    width: 100%;
    height: 70px;
    background-color:#8edafc;
    padding: 10px;
}
#notification i{
    color: #8edafc;
    font-size: 20px;
}
.mex-notification{
    margin: 0 10px;
}
.mex-notification > a{
    color: grey;
}

/* serch concact */
#container-serch{
    width: 100%;
    height: 40px;
    max-height: 50px;
    background-color: #f8f8f8;

}
#serch-bar{
    width: 98%;
    height: 75%;
    border: 1px solid #f8f8f8;
    background-color: white;
    font-size: 13px;
    color: #a5a3a3;
}
#serch-bar > span {
    margin: 0 5%;
}
#serch-bar > input{
    width: 100%;
    height: 100%;
    border: 0px;
}
/* contact */
#contacts-wrap{
    overflow-y: auto;
    flex-grow: 1;
}
#contact > .circle-profile{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}
.contact-container{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d8dbd7;
    cursor: pointer;
    padding-left: 10px;
}
#contact > h3{
    margin-left: 10px;
}
/* COL DX */

#mex-wrapper{
    width: 100%;
    height: calc(100% - 60px);
    flex-grow: 1;
    background-image: url(../../boolzapp-assets/img/mine.jpg);
    padding: 50px 70px;
    overflow-y: auto;
}
#mex-bar{
    height: 60px;
    background-color: #f3eeea;
}
#input-mex{
    width: 100%;
    display: flex;
    justify-content: center;
}
#input-mex > input{
    width: 100%;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    padding: 0 10px;
}
#emoticon, #audio{
    font-size: 20px;
    margin: 0 5%;
}
/* mex text*/
#mex-wrapper{
    display: flex;
    flex-direction: column;
}
/* commons mex recived and send */

.recived, .sent{
    min-width: 17%;
    max-width: 80%;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px 0;
}
/* single characteristic (recived and send) */
.recived{
    background-color: white;
    align-self: flex-start;
}
.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.date{
    font-size: 11px;
    color: #b1b1b1;
    display: flex;
    justify-content: flex-end;
}
/* END MAIN */


/* ACTIVE */
.contact-container.active{
    background-color: rgb(209, 204, 204);
}


