/* RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*  COMMONS */
#root{
    width: 100%;
    height: 100vh;
    position: relative;
    /* test */
    background-color: red;
}
.container-background-TOP{
    width: 100%;
    height: 18%;
    background-color: #209688;
}
.container-background-BOTTOM{
    width: 100%;
    height: calc(100% - 18%);
    background-color: #d8dbd7;
}
.app-wrapper{
    margin: auto;
    width: 70%;
    height: 95%;
    position: absolute;
    top: calc((100vh - 95%)/ 2);
    left: 0;
    right: 0;
    /* test */
    border: 1px solid black;
}
/* col */
.col{
    height: 100%;

    /* test */
    border: 1px solid black;
}
.col-sx{
    width: 37%;
}
.col-dx{
    width: calc(100% - 37%);
}
/* profile circle */
.circle-profile{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}
/* align items CENTER */
.vertical-center{
    display: flex;
    align-items: center;
}

.vertical-horrizontal-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* user menuù */
.user-menu{
    font-size: 25px;
    color: #b1b1b1;
}
.user-menu i{
    margin-right: 15px;
}

/* END COMMONS */

/* HEADER */
header{
    width: 100%;
    height: 8%;
    display: flex;
    background-color: #eaeaea;
}
header > .col{
    display: flex;
    align-items: center;
}
/* user profile */
#user-profile, #current-profile{
    flex-grow: 1;
}
/* ultimo accesso */
.last-access{
    font-size: 13px;
    color: #b1b1b1;
}
/* END HEADER */

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 8%);
    display: flex;
    background-color: white;
}
/* COL SX */

/* notifications */
#notification{
    width: 100%;
    height: 70px;
    background-color:#8edafc;
    padding: 10px;
}
#notification i{
    color: #8edafc;
    font-size: 20px;
}
.mex-notification{
    margin: 0 10px;
}
.mex-notification > a{
    color: grey;
}

/* serch concact */
#container-serch{
    width: 100%;
    height: 35px;
    background-color: #f8f8f8;

}
#serch-bar{
    width: 98%;
    height: 75%;
    border: 1px solid #f8f8f8;
    background-color: white;
    font-size: 13px;
    color: #a5a3a3;
}
#serch-bar > i {
    margin: 0 5%;
}
/* contact */
#contact > .circle-profile{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}
.contact-container{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d8dbd7;
}
/* COL DX */

#mex-container{
    width: 100%;
    height: calc(100% - 50px);
    flex-grow: 1;
    background-image: url(../../boolzapp-assets/img/mine.jpg);
}
#mex-bar{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
/* END MAIN */